<?xml version="1.0" encoding="UTF-8"?> 
<!-- 60초마다 설정 파일의 변경을 확인 하여 변경시 갱신 --> 
<configuration scan="true" scanPeriod="60 seconds">

<!-- pattern --> 
<property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level ${PID:-} --- [%thread] %logger{0} : %msg%n"/> 

<!-- Console Appender --> 
<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender"> 
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
    <pattern>${LOG_PATTERN}</pattern>
    </encoder> 
</appender> 
<!-- 로그레벨 순서 (높은순) ERROR -> WARN -> INFO -> DEBUG -> TRACE -->
<!-- ex) INFO 로 설정시 TRACE , DEBUG 는 무시 -->
<!-- root레벨 설정 (기본적용 레벨)--> 
<root level="INFO">  
    <appender-ref ref="CONSOLE"/> 
</root> 

<!-- 특정패키지 로깅레벨 설정 -->
<!-- DB관련 로깅레벨 설정 --> 
<logger name="jdbc" level="off"/>
<logger name="jdbc.sqlonly" level="off"/>
<logger name="jdbc.sqltiming" level="debug"/>
<logger name="jdbc.audit" level="off"/>
<logger name="jdbc.resultset" level="off"/>
<logger name="jdbc.resultsettable" level="off"/>
<logger name="jdbc.connection" level="off"/>

<!-- JAVA 관련 로깅레벨 설정 -->
<logger name="com.inpsyt" level="DEBUG" additivity="false"> 
    <appender-ref ref="CONSOLE"/>
</logger>
 
</configuration>